/**
 * General Buttons */

.button {
    background: #eee;
    border-radius: 3px 3px 4px 4px;
    border-bottom: 1px solid #ccc;
    color: #383838;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
    text-shadow: 0 1px 0 #fff;
}

    .button:hover {
        background: #ddd;
        border-bottom: 1px solid #bbb;
        color: #000;
    }

.button.on {
    background: #007ab1;
    border-bottom: 1px solid #015276;
    color: #fff;
    text-shadow: 0 1px 0 #333;
}

    .button.on:hover {
        background: #016896;
        border-bottom: 1px solid #00415e;
    }

.button.icon {
    font-size: 20px;
    padding: 6px 10px 5px;
    top: 1px;
}

.button.square {
    height: 22px;
    line-height: 20px;
    padding: 7px 0 5px;
    text-align: center;
    width: 35px;
}


/**
 * Toggles */

.button.toggle.left {
    border-radius: 3px 0 0 3px;
    margin-right: -5px;
}

.button.toggle.inner {
    border-radius: 0;
    border-left: 1px solid #ccc;
    margin-right: -5px;
}

.button.toggle.right {
    border-radius: 0 3px 3px 0;
    border-left: 1px solid #ccc;
}

.button.toggle.on {
    box-shadow: inset 0 3px 5px rgba(0,0,0,.2);
}

    .button.toggle.inner.on {
        border-left: 1px solid #015276;
        border-right: 1px solid #015276;
    }

    .button.toggle.left.on {
        border-right: 1px solid #015276;
    }
    .button.toggle.right.on {
        border-left: 1px solid #015276;
    }

    .button.toggle.left.on + .button.toggle.inner,
    .button.toggle.left.on + .button.toggle.right {
        border-left: none;
    }

    .button.toggle.inner.on + .button.toggle.right {
        border-left: none;
    }    