input[type="text"] {
    border: 1px solid #ccc;
    border-radius: 3px;
    font-size: 15px;
    height: 26px;
    outline: none;
    padding: 3px 8px 4px;
}

select {
    border: 1px solid #ccc;
    border-bottom: 1px solid #aaa;
    font-size: 15px;
    height: 36px;
    padding: 6px 5px;
    border-radius: 3px;
}

input:disabled,
select:disabled {
    background: rgba( 255, 255, 255, .6 );
    color: #666;
    cursor: not-allowed;
}

label {
    color: #666;
    display: block;
    font-size: 16px;
    font-weight: normal;
    padding: 0 0 10px;
}

.picker {
    padding: 3px 32px 4px !important;
    text-align: center;
    width: 120px;
}

.input-link {
    margin-top: 10px;
    position: absolute;
}

    .input-link#displayNext {
        right: 154px;
    }

    .input-link#displayPrev {
        right: 319px;
    }

.addv-title { width: 50%; }
.addv-wrapper { padding: 0 0 20px; }
.addv-date-wrapper { width: 27%; }
.addv-date { margin-right: 3%; width: 55%; }
.addv-time { margin-right: 0; width: 20%; }
