#overlay {
    position: fixed;
    background: rgba( 0, 0, 0, .8 );
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
}

#loading {
    margin: -35px 0 0 -38px;
    width: 75px;
    height: 50px;
    text-align: center;
    font-size: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
}

#loading > div {
    background-color: #008eae;
    height: 100%;
    margin-right: 2px;
    width: 10px;
    display: inline-block;
    -webkit-animation: stretchdelay 1.2s infinite ease-in-out;
    animation: stretchdelay 1.2s infinite ease-in-out;
}

#loading .bar2 {
    -webkit-animation-delay: -1.1s;
    animation-delay: -1.1s;
}

#loading .bar3 {
    -webkit-animation-delay: -1.0s;
    animation-delay: -1.0s;
}

#loading .bar4 {
    -webkit-animation-delay: -0.9s;
    animation-delay: -0.9s;
}

#loading .bar5 {
    -webkit-animation-delay: -0.8s;
    animation-delay: -0.8s;
}

@-webkit-keyframes stretchdelay {
    0%, 40%, 100% { -webkit-transform: scaleY(0.4) }  
    20% { -webkit-transform: scaleY(1.0) }
}

@keyframes stretchdelay {
    0%, 40%, 100% { 
        transform: scaleY(0.4);
        -webkit-transform: scaleY(0.4);
    } 20% {
        transform: scaleY(1.0);
        -webkit-transform: scaleY(1.0);
    }
}